body {
  background: #000;
  margin: 0;
  overflow: hidden;
  color: #fff;
}

a {
  color: #fff;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
}

#button {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 200px;
  padding: 20px;
  text-align: center;
  border: 1px solid #fff;
}
